<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li><h3>ADDRESS</h3></li>
                    <li>Giovanni Zito</li>
                    <li>Schenkenbergstraße 49</li>
                    <li>73733 Esslingen</li>
                </ul>      
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><h3>CONTACT</h3></li>
                    <li>Tel. 0176-81227725</li>
                    <li>kontakt@zito-webdesign.de</li>
                    <li>Donate</li>
                </ul>      
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><h3>LINKS</h3></li>
                    <li>Contact</li>
                    <li>About</li>
                    <li>Donate</li>
                </ul>      
            </div>
        </div>
    </div>
</div>
