<div class="jumbotron">
    <div class="center">
      <h1>Forests, we already saved!</h1>
      <p>here you can see some forest spots we already saved and the spot are growing!</p>
      <p>you can add spot by your self</p>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let forest of forests">
      <div class="thumbnail"  style="cursor: pointer;" [routerLink]="[forest.id]">
        <img src="{{ forest.img }}" alt=" {{ forest.name }}">
       <div class="caption">
          <h3>{{ forest.name }}</h3>
          <p>Location: {{ forest.location }}</p>
        </div>
      </div>
    </div>
  </div>
</div>