<div class="jumbotron">
    <div class="center">
      <h1>Forests, we already saved!</h1>
      <p>here you can see some forest spots we already saved and the spot are growing!</p>
      <p>you can add spot by your self</p>
    </div>
</div>
<div class="container" style="margin-bottom: 30px">
  <h2 for="basic-url" style="color: #2ECC40;"><strong>Add new a Forest</strong></h2>
  <div class="input-group">
    
    <span class="input-group-addon" id="basic-addon3">Name</span>
    <input [(ngModel)]="name" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">  
    
    <span class="input-group-addon" id="basic-addon3">Location</span>
    <input [(ngModel)]="location" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">  
    
    <span class="input-group-addon" id="basic-addon3">Img URL</span>
    <input [(ngModel)]="img" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    
  </div>
 <button style="width: 100%; margin-top:10px;" class="btn btn-success" (click)="addForests()">Add</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let forest of forests">
      <div class="thumbnail">
        <img src="{{ forest.img }}" alt=" {{ forest.name }}">
        <div class="caption">
          <h3>{{ forest.name }}</h3>
          <p>Location: {{ forest.location }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
